<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Market.Test.LocalDbEf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Market.Test.LocalDbEf.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=(localDB)\MSSQLLocalDB;Initial Catalog=TestLocalDbEf;</value>
            </setting>
            <setting name="cs2" serializeAs="String">
                <value>Data Source=(localDB)\MSSQLLocalDB;Initial Catalog=TestLocalDbEf;</value>
            </setting>
        </Market.Test.LocalDbEf.Properties.Settings>
    </applicationSettings>
</configuration>